* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #cfd1cf;
}
.loading {
  text-align: center;
  margin-top: 200px;
}
.isloading {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #cfd1cf;
  z-index: 3;
}
.error-ui {
  color: #cfd1cf;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-con {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background-color: #cfd1cf;
  padding: 30px;
  width: 90%;
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.popup button {
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  border: none;
  color: #cfd1cf;
  background-color: black;
}

/*nav bar*/
.nav {
  display: flex;
  position: fixed;
  background-color: #ecf3ff;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  width: 100%;
  z-index: 5;
}
.nav img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.nav h1 {
  font-size: larger;
  font-weight: bolder;
  display: block;
}
.nav h1 span {
  color: navy;
}
.nav-profile {
  display: flex;
  cursor: pointer;
}
.nav-profile h4 {
  font-weight: bolder;
  margin-top: 7px;
  display: none;
}

/*login and logout*/
.form {
  font-size: larger;
  font-weight: 800;
  width: 100%;
}
.form input {
  padding: 15px;
  border: none;
  background-color: #cfd1d5;
  width: 100%;
  border-radius: 25px;
}
.form button {
  padding: 10px;
  width: 40%;
  border: none;
  color: #ecf3ff;
  background-color: black;
  border-radius: 15px;
}
.login-con {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #cfd1d5;
}
.login {
  display: flex;
  background-color: #ecf3ff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid gray;*/
  width: 85%;
  padding: 20px;
  border-radius: 10px;
}
.login span {
  display: flex;
  justify-content: center;
}
.login img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.err {
  color: red;
  margin: 10px;
}

/*blog page*/
.blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #cfd1d5;
  min-height: 100vh;
  overflow: clip;
  max-width: 100%;
}

/*input to post blog*/
.newblog {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
}
.newBlog-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.newblog form {
  background-color: #ecf3ff;
  padding: 20px;
  border-radius: 3px 3px 0 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.newblog form textarea {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: larger;
  border: 1px solid #ecf3ff;
  background-color: #cfd1d5;
  border-radius: 10px;
}
.newblog form button {
  padding: 5px;
  border-radius: 3px;
  color: #cfd1cf;
  font-size: larger;
  font-weight: bolder;
  background-color: blue;
  border: none;
  display: none;
  margin-top: 10px;
}
.newblog hr {
  color: rgb(255, 253, 253);
}
.newblog-base {
  display: flex;
  justify-content: space-evenly;
  background-color: #ecf3ff;
  border-radius: 0 0 3px 3px;
  color: rgb(58, 58, 58);
  border-top: 1px solid #cfd1d5;
}
.newblog-base h3 {
  cursor: pointer;
  padding: 10px;
  position: relative;
  color: rgb(3, 141, 141);
}
.newblog-base h3:hover {
  background-color: #ecf3ff;
}
.newblog-base h3 input {
  position: absolute;
  opacity: 0;
  top: 5px;
}
.newblog-base img {
  height: 30px;
  width: 30px;
}
.newblog form input {
  padding: 5px;
  border-radius: 15px;
  font-size: larger;
  background-color: #cfd1d5;
  width: 100%;
  border: none;
}
.newblog form img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.newblog form {
  display: flex;
  flex-direction: column;
}

/*blogs*/
.main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.allblogs {
  background-color: #ecf3ff;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(58, 58, 58);
}
.blog-text {
  padding: 20px;
}
.blog-date {
  margin-top: 10px;
  padding: 10px;
  font-size: 10px;
  color: gray;
}
.blog-image img {
  width: 100%;
  object-fit: cover;
}
.blog-image {
  max-height: 400px;
  overflow: hidden;
}
.blog-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
}
.single-blog-con {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #cfd1cf;
}
.single-blog {
  width: 100%;
  height: 70%;
  margin-top: 80px;
}
.single-blog-edit {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.single-blog-edit button {
  padding: 10px;
  border: none;
  font-weight: bolder;
  font-size: larger;
}
.single-blog-image img {
  width: 100%;
}
.edit-input {
  padding: 20px;
  width: 100%;
  background-color: #ecf3ff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  display: none;
}
.edit-input textarea {
  border: none;
  width: 100%;
  padding: 5px;
  font-size: larger;
  background-color: #cfd1d5;
}
.edit-input button {
  padding: 5px;
  font-size: larger;
  font-weight: bolder;
  background-color: rgb(56, 56, 246);
  border: none;
}
.blog-profile {
  background-color: #ecf3ff;
  padding: 10px;
  border-bottom: 1px solid #cfd1d5;
  border-radius: 3px 3px 0 0;
  color: rgb(58, 58, 58);
  display: flex;
}
.blog-profile p {
  margin-left: 5px;
  cursor: pointer;
}
.blog-profile img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.profile-icon {
  font-size: 40px;
}

/*left sidebar*/
.left-side {
  width: 24%;
  position: fixed;
  left: 0;
  display: none;
}
.left-sidebar {
  display: flex;
  flex-direction: column;
  /*background-color: white;*/
  margin-top: 20px;
  padding: 20px;
}
.left-sidebar span {
  font-size: smaller;
}
.left-sidebar-header {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  overflow: hidden;
}
.left-sidebar-header:hover {
  background-color: gray;
}
.left-sidebar-header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 5px;
}
.left-profile-icon {
  font-size: 100px;
}
.left-sidebar-header p {
  margin-top: 16px;
  font-weight: bolder;
  font-size: larger;
}
.left-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.left-list li {
  padding: 10px;
  cursor: pointer;
}
.left-list li img {
  z-index: 1;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.logout {
  font-weight: bolder;
  color: red;
}

/*right sidebar*/
.right-side {
  width: 24%;
  position: fixed;
  right: 0;
  display: none;
}
.right-sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  list-style: none;
  width: 100%;
}
.right-sidebar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.right-side li {
  padding: 10px;
  border-bottom: 1px solid rgb(163, 162, 162);
  cursor: pointer;
}
.right-side li:hover {
  background-color: rgb(55, 55, 55);
  color: #cfd1cf;
  font-weight: bolder;
}

/* profile page */
.profile {
  background-color: #cfd1d5;
  width: 100%;
  overflow: clip;
}
.profile-header {
  background-color: rgb(62, 61, 61);
  background-blend-mode: darken;
  background-image: url("./utils/cloud.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  height: 200px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}
.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  z-index: 1;
  flex-direction: column;
}
.profile-img p {
  color: black;
  margin-top: 6px;
  margin-left: 15px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}
.profile-img span {
  background-color: black;
  color: #ecf3ff;
  position: relative;
}
.img-upload {
  position: absolute;
  bottom: 20px;
  left: 50px;
  border-radius: 50%;
  font-size: 45px;
  color: black;
  background-color: #cfd1cf;
  padding: 10px;
  z-index: 1;
}
.profile-img span input {
  position: absolute;
  opacity: 0;
  bottom: 20px;
  left: 40px;
  z-index: 2;
}
.profile-img img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 5px solid #ecf3ff;
}
.user-profile-icon {
  border-radius: 50%;
  font-size: 180px;
  color: black;
  background-color: #ecf3ff;
}
.porfile-ul {
  background-color: #ecf3ff;
  display: flex;
  list-style: none;
  justify-content: center;
  display: none;
}
.porfile-ul li {
  padding: 15px;
  font-weight: bolder;
  color: gray;
  cursor: pointer;
}
.porfile-ul li:hover {
  padding: 15px;
  font-weight: bolder;
  color: #ecf3ff;
  border-left: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  background-color: gray;
}
.profile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.profile-left {
  background-color: #ecf3ff;
  width: 100%;
  padding: 20px;
  padding-top: 100px;
}
.profile-left section article {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70px;
  margin-top: 10px;
}
.profile-left button {
  padding: 5px;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
}
.profile-left button:hover {
  background-color: gray;
}
.profile-left button span {
  color: red;
}
.profile-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.profile-info ul li {
  list-style: none;
  padding-bottom: 10px;
}
.left-profile-con {
  width: 100%;
  margin-right: 10px;
}
.profile-main {
  width: 100%;
}

/*edit profile section*/
.EditProfile {
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #cfd1d5;
  align-items: center;
}
.EditProfile div {
  display: flex;
  justify-content: space-between;
}
.EditProfile form {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #ecf3ff;
  padding: 10px;
}
.EditProfile form span {
  padding: 10px;
  margin: 5px;
}
.EditProfile form input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #ecf3ff;
  font-weight: bolder;
}
.EditProfile form label {
  font-size: larger;
  font-weight: bolder;
}
.EditProfile form button {
  padding: 5px;
  font-size: larger;
  font-weight: bolder;
  width: 80px;
}
/* friends page*/
.friends-icon {
  display: block;
}
.friends {
  margin-top: 40px;
  width: 100%;
}
.friends-con {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: normal;
  background-color: #cfd1d5;
}

.friends img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.friends li {
  background-color: #ecf3ff;
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  border-radius: 0;
}
.friends li p {
  margin-left: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.friends li:hover {
  background-color: gray;
  color: #cfd1cf;
}

/*media query*/

@media (min-width: 780px) {
  .popup {
    width: 50%;
  }
  .newblog {
    margin-top: 0;
  }
  .EditProfile form {
    width: 70%;
  }
  .friends-icon {
    display: none;
  }
  .friends-con {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cfd1d5;
  }
  .friends {
    margin-top: 40px;
    width: 70%;
  }
  .friends li {
    border-radius: 10px;
  }

  /*nav bar*/
  .nav-profile h4 {
    font-weight: bolder;
    margin-top: 7px;
    display: block;
    padding-left: 10px;
  }

  /*login and logout*/
  .form {
    font-size: larger;
    font-weight: 800;
    width: 100%;
  }
  .form input {
    width: 100%;
  }
  .form button {
    padding: 10px;
    border: none;
    color: #ecf3ff;
    background-color: black;
    border-radius: 15px;
  }
  .login-con {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #cfd1d5;
  }
  .login {
    display: flex;
    background-color: #ecf3ff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid gray;*/
    width: 30%;
    padding: 20px;
  }
  .err {
    color: red;
    margin: 10px;
  }

  /*blogs*/
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 45%;
  }
  .single-blog {
    margin-top: 70px;
    width: 40%;
  }
  .left-side {
    display: block;
  }
  .right-side {
    display: block;
  }
  /* profile page */

  .profile-header {
    background-color: rgb(62, 61, 61);
    height: 250px;
    position: relative;
  }
  .profile-img {
    position: absolute;
    top: 80px;
    left: 100px;
    display: flex;
  }
  .profile-img span {
    position: absolute;
    bottom: 50px;
    left: 130px;
    color: #ecf3ff;
  }
  .profile-img span input {
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 110px;
    z-index: 2;
  }
  .profile-img p {
    position: absolute;
    top: 110px;
    left: 180px;
    width: 200px;
    color: #ecf3ff;
  }
  .img-upload {
    font-size: 45px;
    padding: 10px;
    bottom: 85px;
    left: 8px;
    color: black;
    background-color: #cfd1cf;
    border-radius: 50px;
  }
  .profile-img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 300px;
    z-index: 1;
    flex-direction: row;
  }
  .profile-img span img {
    position: absolute;
    bottom: 100px;
    left: 30px;
    height: 40px;
    width: 40px;
    border-radius: 0;
    z-index: 1;
  }
  .porfile-ul {
    background-color: #ecf3ff;
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .profile-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .profile-left {
    width: 100%;
    padding: 20px;
    padding-top: 10px;
  }
  .left-profile-con {
    background-color: #ecf3ff;
    width: 25%;
    padding: 20px;
    height: 70%;
    margin-top: 12px;
    position: sticky;
    top: 80px;
  }
  .profile-main {
    width: 45%;
    margin-right: 20px;
  }
  .blog-image img {
    width: 100%;
    height: 550px;
    margin-top: 10px;
  }
  .blog-image {
    max-height: 450px;
    overflow: hidden;
  }
  .user-profile-icon {
    color: black;
    font-size: 150px;
    position: relative;
    top: 40px;
    left: 30px;
    background: #ecf3ff;
    border-radius: 50%;
  }
}
